<mat-toolbar color="primary">
  <span>Início</span>
</mat-toolbar>
<mat-card>
  <mat-card-title>Seja bem-vindo, Professor!</mat-card-title>
  <mat-card-subtitle class="mt-2">O que você deseja fazer?</mat-card-subtitle>
  <mat-card-actions >
    <button class="mt-2 ml-2" mat-stroked-button color="primary" routerLink="/frequencia" routerLinkActive="active">
      <mat-icon>class</mat-icon>
      Realizar Frequência
    </button>
    <button class="mt-2" mat-stroked-button color="primary" routerLink="/table" routerLinkActive="active">
      <mat-icon>list-alt</mat-icon>
      Lista de Alunos
    </button>
    <button class="mt-2" mat-stroked-button color="primary" routerLink="/frequencia-lista" routerLinkActive="active">
      <mat-icon>checklist</mat-icon>
      Visualizar Frequência
    </button>
  </mat-card-actions>
</mat-card>
<router-outlet></router-outlet>

